<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Taco Cloud</title>
<link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
	<h1>Taco Cloud</h1>
	<img th:src="@{/images/taco.png}"/>
	
	<form method="POST" th:object="${taco}">
	<span class="validationError" 
		th:if="${#fields.hasErrors('ingredients')}"
		th:errors="*{ingredients}">Ingredients Error Ocurred!
	</span>
	
	<div class="grid">
		<div class="ingredient-group" id="wraps">
			<h3>랩을 골라주세요 ^^</h3>
			<div th:each="ingredient : ${wrap}">
			<input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
			<span th:text="${ingredient.name}">INGREDIENTS</span></br>
			</div>
		</div>
	<div class="ingredient-group" id="proteins">
		<h3>고기를 골라주세요 ^^</h3>
		<div th:each="ingredient : ${protein}">
			<input name="ingredients" type="checkbox" th:value="${ingredient.id}">
			<span th:text="${ingredient.name}">INGREDIENTS</span>
		</div>
	</div>
		<div class="ingredient-group" id="cheeses">
		<h3>치즈를 골라주세요 ^^</h3>
		<div th:each="ingredient : ${cheese}">
			<input name="ingredients" type="checkbox" th:value="${ingredient.id}">
			<span th:text="${ingredient.name}">INGREDIENTS</span>
		</div>
	</div>
		<div class="ingredient-group" id="veggies">
		<h3>야채를 골라주세요 ^^</h3>
		<div th:each="ingredient : ${veggies}">
			<input name="ingredients" type="checkbox" th:value="${ingredient.id}">
			<span th:text="${ingredient.name}">INGREDIENTS</span>
		</div>
	</div>
		<div class="ingredient-group" id="sauces">
		<h3>소스를 골라주세요 ^^</h3>
		<div th:each="ingredient : ${sauce}">
			<input name="ingredients" type="checkbox" th:value="${ingredient.id}">
			<span th:text="${ingredient.name}">INGREDIENTS</span>
		</div>
		</div>
	</div>
	
	<div>
		<h3>타코의 이름을 지어주세요!!</h3>
		<input type="text" th:field="*{name}"/>
		<span th:text="${#fields.hasErrors('name')}"></span>
		<span class="validationError" 
			th:if="${#fields.hasErrors('name')}"
			th:errors="*{name}">Name Error</span> 
		<br/>
	
		<button>타코 주문하기</button>
	</div>
	</form>
</body>
</html>